{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "dat": false,
    "DEVELOPING": false
  }
}
